.product-name {
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.product-sector {
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: italic;
}
