// $primary-green: #3b7560; // Vibrant green
$primary-green: #9cb544; // Vibrant green
$light-green: #77d38c; // Softer, muted green
$sad-green: #89a68f;
$brown: #8b4513; // Warm, earthy brown
$light-brown: #fbe9d0; // Lighter, sandy brown
$higlight-color: #f5d54a;
$blue: #3498db; // Calming, watery blue

$neutral-white: #ffffff; // Backgrounds and clean elements
$neutral-light-gray: #f5f5f5; // Subtle, neutral color
$neutral-dark-gray: #333333; // Text and accents
