.total-user-points-wrapper {
  background-color: #fff8e1;
  text-align: center;
  padding: 20px 10px;
  font-family: "Raleway", sans-serif;
  
  .points-value {
    font-size: 40px;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
  }

  .material-c2o-custom {
    font-size: 50px;
  }
}

.donut-wrapper {
  max-width: 500px;
}
